*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row1,.row2{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.box{
    border: none;
    /* background-color: aqua; */
    margin: 20px;
    border-radius:20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.185);
    width: 300px;
    
}
.box1{
    position: relative;
    top:20px;
}
 
.box3{
    position: relative;
    top: 35px;
}

img{
    width: 100%;
    border-radius: 20px;
}

.box .text{
    margin: 20px;
    padding: 10px;
    text-align: justify;
    
}
p{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    margin: 0 0 10px;
    text-transform: uppercase; 
}

button{
    background-color: rgb(18, 18, 112);
    color: #fcfcfc;
     border: none;
     border-radius: 4px;
     width: 50%;
     height: 35px;
     margin: 0 25%;
     font-weight: bold;
     cursor: pointer;
     text-transform: capitalize;
}

button:hover{
    color: rgba(0, 0, 0, 0.918);
    background-color: rgb(0, 255, 76);
}